@media(max-width:1500px){
  .hero-area{
    padding-top: 47px;
    padding-bottom: 5px;
  }
 
  .hero-area .content-wrapper .hero-left h1 {
    letter-spacing: -3px;
  }
  .hero-right img{
    max-width: 100%;
    position: inherit;
    bottom: -8px;
    left: 0px;
  }
  .hero-right .image-shape{
    left: 32px;
    bottom: -17px;
    width: 371px;
    height: 370px;
    transform: rotate(-45deg);
  }

}
@media(max-width:1215px){
  .hero-area .content-wrapper .hero-left h1{
    font-size: 56px;
    letter-spacing: 0px;
  }
  .hero-right img{
    left: -31px;
  }
  .hero-right .image-shape {
    left: 0px;
    bottom: -19px;
    width: 351px;
    height: 350px;
    transform: rotate(-45deg);
  }
  .about-area .content-wrapper{
    gap: 10px;
  }
}
@media(max-width:1149px){
  .hero-right .image-shape{
    left: -9px;
  }
  
  .about-area .title {
    max-width: 100%;
  }
}
@media(max-width:1085px){
  .hero-right .image-shape{
    left: -43px;
  }

}
@media(max-width:991.90px){
  header .nav-wrapper{
    display: none;
  }
  .menu-btn a{
    display: inline-block;
  }
  /***** Hero Area ********/
  .hero-area .content-wrapper{
    display: flex;
    flex-direction: column;
  }
  .hero-area .content-wrapper .hero-left h1{
    font-size: 60px;
  }
  .category-area .inner{
    width: 30%;
  }
  .hero-right img{
    width: 100%;
    left: 0;
  }
  .hero-right .image-shape{
    width: 75%;
    height: 50%;
    left: 12%;
    bottom: -1%;
    transform: rotate(-45deg);
  }
  .category-area .shape{
    display: none;
  }
  .about-area .content-wrapper {
    flex-direction: column-reverse;
  }
  .about-area .left {
    max-width: 100%;
    margin: 0 auto;
  }
  .about-area .right{
    margin: 0 auto;
  }
  .about-area .title {
    max-width: 504px;
  }
  .wcs-area .content-wrapper{
    flex-direction: column;
  }
  .wcs-area .left{
    max-width: 100%;
  }
  .offer-area .content-wrapper{
    gap: 5px;
  }
  .team-area .member-row{
    flex-wrap: wrap;
  }
  .member-row .inner{
    width: calc(50% - 30px);
  }

} 
@media (max-width:850px){
  .food-items-area .card-inner:nth-child(even){
    margin-left: 30px;
  } 
  .food-items-area .card-inner{
    width: calc(50% - 75px);
  }
  .offer-area .content-wrapper{
    gap: 20px;
    flex-wrap: wrap;
    margin: 0 30px;
  }
  .offer-area .offer-details{
    width: 100%;
  }
  .offer-area .offer-img{
    width: 100%;
  }
  .blog-area .top-content .btn{
    display: none;
  }
  .bottom-btn{
    display: inline-block;
    text-align: right;
    margin-top: 20px;
  }
  .blog-area .blog-content{
    flex-wrap: wrap;
  }
  .blog-single-card{
    max-width: 100%;
  } 
}

@media(max-width:768px){
  .hero-area .content-wrapper .hero-left h1{
    font-size: 50px;
  }
  .food-items-area .card-inner{
    width: calc(50% - 63px); 
  }
  

}
@media(max-width:575.90px){
  h2{
    font-size: 30px;
  }
  .hero-area .content-wrapper .hero-left h1{
    font-size: 30px;
  }
  .hero-left .popup-btn {
    margin-left: 19px;
  }
  .category-area{
    padding: 50px 0;
  }
  .category-area .title-wrapper h2{
    font-size: 30px;
  }
  .category-area .inner{
    width: 47%;
  }
  .wcs-left-bottom .inner{
    gap: 15px;
  }
  .food-items-area .card-inner:nth-child(even){
    margin-left: 30px;
  }
  .food-items-area .card-inner{
    width: 100%; 
    margin: 20px 30px;
  }
  .testimonial-area .clients-comments{
    flex-wrap: wrap;
    gap: 100px;
  }
  .testimonial-area .inner{
    max-width: 100%;
  }
   
}
@media (max-width:470px){
  header .template-button{
    display: none;
  }
  .category-area .title-wrapper h2 {
    font-size: 27px;
  }
  .category-area .inner{
    width: 100%;
  }
  .offer-area .content-wrapper{
    margin: 0 0px;
  }
  .member-row .inner{
    width: calc(100% - 30px);
  }
}